@model doan.Models.DichVu
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
	<div class="pagetitle">
		<h2>Sửa dịch vụ</h2>
	</div>
	<form method="POST" asp-action="Sua">
		<input type="hidden" asp-for="ID">
		<div class="form-group">
            <label asp-for="TenDichVu">Tên dịch vụ</label>
            <input type="text" class="form-control" asp-for="TenDichVu">
		</div>
		<div class="form-group">
            <label asp-for="MoTa">Mô tả</label>
            <input type="text" class="form-control" asp-for="MoTa">
		</div>
        <div class="form-group">
            <label asp-for="Icon">Icon</label>
            <input type="text" class="form-control" asp-for="Icon">
        </div>
        
        <div class="form-group mt-5 mb-5">
            <label>
                @Html.CheckBox("TrangThai", Model.TrangThai)
                Hiển thị
            </label>
        </div>
		<button type="submit" class="btn btn-primary">Sửa</button>
	</form>
</main>

@{
    var summerNote = new doan.Areas.Admin.Models.SummerNote("#Content");
    <partial name="_SummerNote" model="summerNote"/>
}